<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.luomeiji_driver">
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:name=".Base.LuomeijiDriverApplistion"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="952a9ba952b42411e9e2ede13b820b41" />

        <activity android:name=".UI.welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.main.MainActivity">

        </activity>
        <!--登录-->
        <activity android:name=".UI.login.LoginActivity">

        </activity>
        <!--注册-->
        <activity android:name=".UI.signup.SignupActivity">

        </activity>
        <!--修改密码-->
        <activity android:name=".UI.password.SetPswActivity">

        </activity>

        <activity android:name=".UI.carowner.CarOwnerActivity">

        </activity>
        <activity android:name=".UI.carowner.CarOwnerTwoActivity">


        </activity>
        <activity android:name=".UI.legalize.CarLegalizeActivity">

        </activity>
        <activity android:name=".UI.legalize.CarLegalize_TwoActivity">


        </activity>
        <activity android:name=".UI.legalizeresult.LegalizeresultwithActivity">

        </activity>
        <!--个人中心-->
        <activity android:name=".UI.mend.MendActivity">

        </activity>
        <!--订单页面-->
        <activity android:name=".UI.order.OrderActivity">

        </activity>
        <activity android:name=".UI.passenger.PassengerActivity">

        </activity>
        <activity android:name=".UI.setting.SettingActivity">

        </activity>
        <!--未绑定银行卡-->
        <activity android:name=".UI.bindbank.DontBindBankActivity">

        </activity>
        <!--绑定银行卡-->
        <activity android:name=".UI.bindbank.BindBankActivity"></activity>
        <!--提现-->
        <activity android:name=".UI.withdraw.WithdrawActivity"></activity>
        <activity android:name=".UI.citycar.CityCarActivity"></activity>
        <!--等待出发-->
        <activity android:name=".UI.waitleave.WaitLeaveActivity"></activity>
        <activity android:name=".UI.choosepassenger.ChoosePassengerActivity"></activity>
        <!--等待乘客上车-->
        <activity android:name=".UI.withpassenger.WithPassengerActivity">

        </activity>
        <activity android:name="com.yalantis.ucrop.UCropActivity" />
        <!--网约出租车-->
        <activity android:name=".UI.taxiorders.TaxiOrdersActivity">

        </activity>
        <service android:name="com.amap.api.location.APSService"></service>
    </application>
</manifest>